$font-size-numbers: 2rem;

$theme-1-main-background: hsl(222, 26%, 31%);
$theme-1-toggle-keypad-background: hsl(223, 31%, 20%);
$theme-1-screen-background: hsl(224, 36%, 15%);

$theme-1-key-background: hsl(225, 21%, 49%);
$theme-1-key-shadow: hsl(224, 28%, 35%);
$theme-1-key-background-toggle: hsl(6, 63%, 50%);
$theme-1-key-shadow-2: hsl(6, 70%, 34%);
$theme-1-key-background-2: hsl(30, 25%, 89%);
$theme-1-key-shadow-3: hsl(28, 16%, 65%);

$theme-1-numbers-on-button: hsl(221, 14%, 31%);
$theme-1-numbers-on-screen: white;

$theme-2-main-background: hsl(0, 0%, 90%);
$theme-2-toggle-keypad-background: hsl(0, 5%, 81%);
$theme-2-screen-background: hsl(0, 0%, 93%);

$theme-2-key-background: hsl(185, 42%, 37%);
$theme-2-key-shadow: hsl(185, 58%, 25%);
$theme-2-key-background-toggle: hsl(25, 98%, 40%);
$theme-2-key-shadow-2: hsl(25, 99%, 27%);
$theme-2-key-background-2: hsl(45, 7%, 89%);
$theme-2-key-shadow-3: hsl(35, 11%, 61%);

$theme-2-numbers-on-btn: hsl(60, 10%, 19%);
$theme-2-numbers-on-screen: hsl(60, 10%, 19%);

$theme-3-main-background: hsl(268, 75%, 9%);
$theme-3-toggle-keypad-background: hsl(268, 71%, 12%);
$theme-3-screen-background: hsl(268, 71%, 12%);

$theme-3-key-background: hsl(281, 89%, 26%);
$theme-3-key-shadow: hsl(285, 91%, 52%);
$theme-3-key-background-toggle: hsl(176, 100%, 44%);
$theme-3-key-shadow-2: hsl(177, 92%, 70%);
$theme-3-key-background-2: hsl(268, 47%, 21%);
$theme-3-key-shadow-3: hsl(290, 70%, 36%);

$theme-3-numbers-on-btn: hsl(52, 100%, 62%);
$theme-3-del-reset-btn: white;
$theme-3-equal-btn: hsl(198, 20%, 13%);

@mixin general-properties {
  * {
    padding: 0;
    margin: 0;
  }
}

@mixin calc-general-properties {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin calc-container-gen-prop {
  row-gap: 20px;
  width: 30%;
  margin-top: 4em;
  display: flex;
  flex-direction: column;
}

@mixin header-gen-prop {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex: 1;
}

@mixin header-theme-prop {
  display: flex;
  align-items: last baseline;
  gap: 1em;
}

@mixin radio-btns-config {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

@mixin reset-equal-btns {
  grid-column: span 2;
  color: white;
}

@mixin labels-gen-prop {
  display: flex;
  gap: 10px;
  pointer-events: none;
}

@mixin label-specific-prop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
  width: 10px;
  font-size: 10px;
  flex: 1;
}

@mixin display-properties {
  box-sizing: border-box;
  position: relative;

  .input-element {
    box-sizing: border-box;
    pointer-events: none;
    border: none;
    height: 80px;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    font-size: $font-size-numbers;
    font-weight: 700;
    font-family: "League Spartan", Arial, Helvetica, sans-serif;
    direction: ltr;
    text-align: right;
    overflow: hidden;
  }

  .display-input {
    padding-top: 50px;
  }

  .display-operation {
    position: absolute;
    height: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 100;
  }
}

@mixin keypad-gen-prop {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
  padding: 15px;
  border-radius: 8px;
}

@mixin btn-gen-prop {
  border-radius: 8px;
  border: none;
  height: 50px;
  font-size: $font-size-numbers;
  font-weight: 700;
  font-family: "League Spartan";
}

@mixin reset-del-btn-inter {
  &:active {
    background-color: hsl(229, 36%, 70%);
  }
}

@mixin reset-del-btn-inter-2 {
  &:active {
    background-color: hsl(185, 42%, 50%);
  }
}

@mixin reset-del-btn-inter-3 {
  &:active {
    background-color: hsl(281, 86%, 39%);
  }
}

@mixin media-queries {
  @media screen and (max-width: 1115px) {
    .calculator {
      &__container {
        width: 40%;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    .calculator {
      &__container {
        width: 43%;
      }
    }
  }

  @media screen and (max-width: 890px) {
    .calculator {
      &__container {
        width: 48%;
      }
    }
  }

  @media screen and (max-width: 750px) {
    .calculator {
      &__container {
        width: 52%;

        &--btns {
          gap: 14px;
        }
      }
    }
  }

  @media screen and (max-width: 635px) {
    .calculator {
      &__container {
        width: 58%;

        &--btns {
          button {
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  @media screen and (max-width: 625px) {
    .calculator {
      &__container {
        width: 65%;

        &--btns {
          gap: 14px;

          button:nth-child(17),
          button:nth-child(4) {
            font-size: 1.4rem;
          }
        }
      }
    }
  }

  @media screen and (max-width: 515px) {
    .calculator {
      &__container {
        width: 70%;

        &--btns {
          gap: 13px;

          button:nth-child(17),
          button:nth-child(4) {
            font-size: 1.3rem;
          }
        }
      }
    }
  }

  @media screen and (max-width: 475px) {
    .calculator {
      &__container {
        width: 75%;

        &--btns {
          gap: 12px;

          button:nth-child(17),
          button:nth-child(4) {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  @media screen and (max-width: 415px) {
    .calculator {
      &__container {
        width: 80%;

        &--btns {
          gap: 12px;

          button:nth-child(17),
          button:nth-child(4) {
            font-size: 1rem;
          }
        }
      }
    }
  }

  @media screen and (max-width: 374px) {
    .calculator {
      &__container {
        width: 85%;
      }
    }
  }

  @media screen and (max-width: 310px) {
    .calculator {
      &__container {
        width: 90%;
      }
    }
  }
}
