@import "./config.scss";

@include general-properties();

body {
  background-color: $theme-2-main-background;
  font-family: "League Spartan", Arial, Helvetica, sans-serif;
}

.calculator {
  @include calc-general-properties();

  &__container {
    @include calc-container-gen-prop();

    &--header {
      @include header-gen-prop();

      .title {
        color: $theme-2-numbers-on-btn;
      }

      .theme {
        @include header-theme-prop();

        &__title {
          font-size: 0.6rem;
          font-weight: 400;
          color: $theme-2-numbers-on-btn;
        }

        &__elements {
          &--btns {
            background-color: $theme-2-toggle-keypad-background;
            padding: 4px;
            border-radius: 15px;
            display: flex;
            gap: 13px;

            input[type="radio"] {
              -webkit-appearance: none;
              appearance: none;
              width: 7px;
              height: 7px;
              border-radius: 50%;
              background-color: $theme-2-toggle-keypad-background;
              position: relative;
              cursor: pointer;
            }

            #theme-1:checked::before {
              @include radio-btns-config();
              background-color: $theme-1-key-background-toggle;
            }

            #theme-2:checked::before {
              @include radio-btns-config();
              background-color: $theme-2-key-background-toggle;
            }

            #theme-3:checked::before {
              @include radio-btns-config();
              background-color: $theme-3-key-background-toggle;
            }
          }

          &--labels {
            @include labels-gen-prop();

            .label {
              color: $theme-2-numbers-on-btn;
              @include label-specific-prop();
            }
          }
        }
      }
    }

    &--display {
      @include display-properties();

      .input-element {
        background-color: $theme-2-screen-background;
      }
    }

    &--btns {
      background-color: $theme-2-toggle-keypad-background;
      @include keypad-gen-prop();

      button {
        @include btn-gen-prop();
        background-color: $theme-2-key-background-2;
        box-shadow: 0 4px 0 $theme-2-key-shadow-3;
        color: $theme-2-numbers-on-btn;
        cursor: pointer;

        &:active {
          background-color: white;
        }
      }

      button:nth-child(17),
      button:nth-child(18) {
        @include reset-equal-btns();
      }

      button:nth-child(4) {
        background-color: $theme-2-key-background;
        box-shadow: 0 4px 0 $theme-2-key-shadow;
        color: white;
        @include reset-del-btn-inter-2();
      }

      button:nth-child(17) {
        background-color: $theme-2-key-background;
        box-shadow: 0 4px 0 $theme-2-key-shadow;
        @include reset-del-btn-inter-2();
      }

      button:nth-child(18) {
        background-color: $theme-2-key-background-toggle;
        box-shadow: 0 4px 0 $theme-2-key-shadow-2;

        &:active {
          background-color: hsl(25, 93%, 47%);
        }
      }
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@include media-queries();
