@import "./config.scss";

@include general-properties();

body {
  background-color: $theme-1-main-background;
  font-family: "League Spartan", Arial, Helvetica, sans-serif;
}

.calculator {
  @include calc-general-properties();

  &__container {
    @include calc-container-gen-prop();

    &--header {
      @include header-gen-prop();

      .title {
        color: white;
      }

      .theme {
        @include header-theme-prop();

        &__title {
          font-size: 0.6rem;
          font-weight: 400;
          color: white;
        }

        &__elements {
          &--btns {
            background-color: $theme-1-toggle-keypad-background;
            padding: 4px;
            border-radius: 15px;
            display: flex;
            gap: 13px;

            input[type="radio"] {
              -webkit-appearance: none;
              appearance: none;
              width: 8px;
              height: 8px;
              border-radius: 50%;
              background-color: $theme-1-toggle-keypad-background;
              position: relative;
              cursor: pointer;
            }

            #theme-1:checked::before {
              @include radio-btns-config();
              left: 40%;
              background-color: $theme-1-key-background-toggle;
            }
          }

          &--labels {
            @include labels-gen-prop();

            .label {
              color: white;
              @include label-specific-prop();
            }
          }
        }
      }
    }

    &--display {
      @include display-properties();

      .input-element,
      .display-operation {
        background-color: $theme-1-screen-background;
        color: white;
      }

      .display-operation {
        font-size: 1rem;
        font-weight: 400;
      }
    }

    &--btns {
      background-color: $theme-1-toggle-keypad-background;
      @include keypad-gen-prop();

      button {
        @include btn-gen-prop();
        background-color: $theme-1-key-background-2;
        box-shadow: 0 4px 0 $theme-1-key-shadow-3;
        cursor: pointer;

        &:active {
          background-color: white;
        }
      }

      button:nth-child(17),
      button:nth-child(18) {
        @include reset-equal-btns();
      }

      button:nth-child(4) {
        background-color: $theme-1-key-background;
        box-shadow: 0 4px 0 $theme-1-key-shadow;
        color: white;
        @include reset-del-btn-inter();
      }

      button:nth-child(17) {
        background-color: $theme-1-key-background;
        box-shadow: 0 4px 0 $theme-1-key-shadow;
        @include reset-del-btn-inter();
      }

      button:nth-child(18) {
        background-color: $theme-1-key-background-toggle;
        box-shadow: 0 4px 0 $theme-1-key-shadow-2;

        &:active {
          background-color: hsl(6, 74%, 63%);
        }
      }
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}
.attribution a {
  color: lighten($color: $theme-1-key-background-toggle, $amount: 10);
}

@include media-queries();
